[submodule "tools/IK"]
	path = tools/IK
	url = https://github.com/ucalgary-rover/SSRT-Inverse-Kinematics.git

[submodule "tools/websocketpp"]
	path = tools/websocketpp
	url = https://github.com/zaphoyd/websocketpp.git
